body {
	margin: 0;
	padding: 0;
}

.container-fluid {
	height: 6970px;
	background-color: #fff;
	overflow-x: hidden;
}

.home {
	background: url(../img/slider.jpg) no-repeat;
	background-size: contain;
	height: 1024px;
}

header {
	margin-top: 40px;
	height: 57px;
}

nav {
	float: right;
	margin: 20px 0;
}

nav a {
	text-decoration: none;
	margin: 10px;
	color: #fff;
}

nav a:hover {
	text-decoration: none;
	color: #c7b299;
}