body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

header {
	background: url(/img/home.jpg) no-repeat;
	background-size: 100%;
	overflow: hidden;
	color: aliceblue;
}

nav {
	margin-top: 40px;
	height: 56px;
	text-align: center;
}

.col-sm-1 {
	float: right;
}

.slider {
	margin-top: 285px;
	text-align: center;
	margin-bottom: 50px;
}

.btn {
	margin: 60px;
	padding: 20px 45px;
	background-color: #998675;
	border: 1px solid #998675;
}

.btn:hover {
	background-color: #d49a65;
}

#carousel-example-generic {
	height: 261px;
}

.services {
	margin-top: 84px;
	text-align: center;
	display: inline-block;
}

.web>h3,
.dev>h3,
.custom>h3,
.marketing>h3 {
	font-size: 22px;
	font-family: "Myriad Pro";
	color: rgb(85, 85, 85);
}

.web>h5,
.dev>h5,
.custom>h5,
.marketing>h5 {
	font-size: 14px;
	font-family: "Myriad Pro";
	color: rgb(140, 140, 140);
}

.relize {
	height: 700px;
	background-color: #fbfaf8;
	text-align: center;
}

.relize h3 {
	margin: 80px 0 30px 0;
}


}
.relize h6 {
	margin-bottom: 15px;
	font-size: 16px;
	font-family: "Myriad Pro";
	color: #8c8c8c;
}
.textbox{
	color: #fff;
	padding-top: 50px;
}
.textbox span {
	color: #998675;
}

.btntb {
	
	position: relative;
	top: -65px;
	padding: 20px 45px;
	background-color: #998675;
	border: 1px solid #998675;
	float: right;
}
.btntb:hover {
	background-color: #d49a65;
}
@media screen and (max-width: 1200px) {
	.slider {
		margin-top: 85px;
	}
	
	.btn {
		margin: 5px 0;
	}
}
@media screen and (max-width: 992px) {
	.slider {
		margin-top: 5px;
	}
	
	.relize {
		height: 80px;
	}
	
	.relize img {
		display: none;
	}
	
	.relize h3 {
		margin: 10px 0 5px 0;
	}
}
@media screen and (max-width: 767px) {
	.slider {
		display: none;
	}
}
@media screen and (max-width: 540px) {}
@media screen and (max-width: 480px) {}
.textbox {
	height: 150px;
	background-color: #412c23;
}